body {
  margin: 0;
}

.book-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#books-list {
  display: grid;
  border: 2px solid #272a31;
  width: 80%;
}

.book-item {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0 0.2rem 0.2rem;
}

.book-item:nth-child(odd) {
  background-color: lightgray;
}

.book-info p {
  display: inline;
}

.remove-btn {
  background-color: #fff;
  box-shadow: 2px 2px 3px 1px #000;
  margin-right: 0.5rem;
}

hr {
  border: 1px solid rgb(0, 0, 0);
  width: 60%;
  margin: 1rem auto;
}

h1 {
  margin-top: 2rem;
  text-align: center;
  font-size: 50px;
}

input {
  border: 2px solid #000;
  width: 50%;
  padding: 1rem 0.5rem 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.button-add {
  box-shadow: 2px 2px 3px 1px #000;
  background-color: #fff;
  justify-self: flex-end;
  position: absolute;
  right: 25rem;
  bottom: -1.5rem;
  height: 2.5rem;
  width: 4rem;
  font-weight: 700;
}

.add-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 6rem;
}

.error-message {
  padding-top: 1rem;
  color: red;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  margin: 1rem 1rem 0.5rem;
  align-items: center;
  padding: 0 1.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  border-right: 1px solid #000;
  padding: 0 1rem;
}

.nav-list li:nth-child(3) {
  border-right: none;
  padding-right: 0;
}

.nav-list a {
  text-decoration: none;
  color: #000;
}

.date {
  text-align: right;
  margin-right: 1rem;
}

.contact {
  text-align: center;
}

.contact-container {
  text-align: center;
}

.contact-list {
  display: inline-block;
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  border: 2px solid #000;
  margin: 1rem;
  text-align: left;
  width: 95%;
  padding: 0 1rem;
}

.addBook {
  display: none;
}

.Info {
  display: none;
  font-weight: 500;
  font-size: 20px;
}

.showBooks {
  display: block;
}
